@page
@model ToDoList.Pages.Todo.TasksModel

<div class="container p-3 w-75">
    <div class="row pt-4">
        <div class="col-6">
            <h2>ToDo List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i>&nbsp New Task 
            </a>
        </div>
    </div>
    
    
    <table class="table table-bordered table-striped mt-4">
        <thead> 
            <tr>
                <th width="50%"><h6>Tasks</h6></th>
                <th><h6>Due Date</h6></th>
                <th><h6>Priority</h6></th>
                <th width="15%"><h6>Edit/Delete</h6></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var task in Model.ToDos)
            {
                <tr>
                    <td><input type="checkbox" class="form-check-input"/>&nbsp&nbsp&nbsp&nbsp @task.Task</td>
                    <td>@task.DueDate.Value.ToString("dd MMM, yyyy")</td>
                    <td>@task.priority</td>
                    <td>
                        <a asp-page="Update" asp-route-id="@task.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <a asp-page="Delete" asp-route-id="@task.Id" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
